.navbar .nav-item .nav-link{
    font-size:1.7rem;
    color: black;
    width: 100%;
    justify-content: center;
    white-space: normal;
    display: inline-block;
    overflow: hidden;
}

.navbar .nav-item:hover .nav-link{ 
  text-decoration: underline;
  text-decoration-thickness: 7px;
  text-underline-offset: 0.3em;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  color: #000;
    }
  html,
  body {
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        overflow-x: hidden;
        padding-left: 10%;
        padding-right: 10%;
        text-align: justify;
  }

  h1 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.25em;
    color: #000;
  }
  p{
    font-family: 'Montserrat', sans-serif;
  }
  .borderbox {
    width: 100%;
    height: 100%;
    padding-top: 5%;  
    padding-left: 5%;
    padding-right: 5%;
    border: 2px solid black;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  
  .headerrow {
    padding-top: 5%;
    color: black;
    text-align: justify;
  }

.borderrow {
  border-spacing: revert;
}

  .descriptionrow {
      text-align: justify;
  }
  .howitworksrow{
      padding-top: 3%;
      padding-bottom: 5%;
  }

  .featurerow .feature .feature-icon {
    text-align: center;
    height: 4rem;
    margin-bottom: 1rem;
    font-size:3rem;
    color: #0a0a0a;
    align-items: center;
    justify-content: center;
  }

  .row{
      color: black;
      text-align: left;
  }

  img {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    /* width: auto; */
    /* height: 100%; */
  }
  #footer {
    background: #ffffff;
    padding: 0 0 30px 0;
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding-top: 5%;
  }
  .form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  }

  .form-inline label {
    margin: 5px 10px 5px 0;
  }

  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
  }

  .form-inline button {
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 14px;
    margin: 10px;
    margin-top: 10px;
    background: #000000;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    border-radius: 15px;
    padding: 6px 28px;
  }

  .form-inline button:hover {
    background-color: #e0dfdf;
    color: #000;
  }
.asterisk {color:#000000; font-size:150%; font-weight:normal; position:relative;}

  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
    
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }
  #footer .nav-item:hover .nav-link {text-decoration: underline; text-decoration-thickness: 3px;text-underline-offset: 0.2em;}
  #footer .nav-item .nav-link{color:rgb(0, 0, 0);}
  
  .form-control {
    background: #ffffff;
    border-color: #545454;
    color: black;
  }
  
  .form-control:focus {
    background: #ffffff;
    color: black;
  }
  
  footer {
    background: #ffffff;
    color: black;
    border-bottom: 1px solid #474747;
  }