.navbar .nav-item .nav-link{
    color: black;
    background-color: white;
    text-align: center;
    line-height: 100px;
    width: 100%;
    justify-content: center;
}
.navbar .nav-item:hover .nav-link{ 
        color: #e96b56
    }
  html,
  body {
        flex-direction: column;
        font-family: 'Kanit', sans-serif;
        overflow-x: hidden;
        text-align: left;
        padding-left: 10%;
        padding-right: 10%;
  }

  h1 {
    margin: 0;
    line-height: 1.25em;
    color: #000;
    padding-top: 10%;
  }

  
  .headerrow {
    padding-top: 5%;
    padding-bottom: 5%;
    color: black;
    position: relative;
    text-align: left;
    align-items: center;
  }

.borderrow {
  border-spacing: revert;
}

  .descriptionrow {
      padding-bottom: 5%;
  }
  .howitworksrow{
      padding-top: 5%;
  }

  .featurerow .feature .feature-icon {
    text-align: center;
    height: 4rem;
    margin-bottom: 1rem;
    font-size:3rem;
    color: #0a0a0a;
    align-items: center;
    justify-content: center;
  }

  .row{
      color: black;
      text-align: left;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #footer {
    background: #ffffff;
    padding: 0 0 30px 0;
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding-top: 5%;
  }

  #footer .footer-newsletter {
    border-top: 1px solid #474747;
    padding: 50px 0;
    background: #ffffff;
    border-bottom: 1px solid #474747;
  }

  #footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600
  }

  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px
  }

  #footer .footer-newsletter form input[type="email"] {
    border: 1;
    padding: 8px;
    width: calc(100% - 140px)
  }

  #footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 30px;
    margin: 3px;
    background: #e96b56;
    color: rgb(0, 0, 0);
    transition: 0.3s;
    border-radius: 50px
  }

  #footer .footer-newsletter form input[type="submit"]:hover {
    background: #e6573f
  }
  #footer .nav-item:hover .nav-link {color: #e6573f;}
  #footer .nav-item .nav-link{color:rgb(0, 0, 0);}
  
  .form-control {
    background: #ffffff;
    border-color: #545454;
    color: black;
  }
  
  .form-control:focus {
    background: #ffffff;
    color: black;
  }
  
  footer {
    background: #ffffff;
    color: black;
    border-bottom: 1px solid #474747;
  }
